import(MASS)
import(matrixStats)
import(pcaPP)
import(robustbase)
useDynLib(DetMCD)
export("DetMCD")
export("plot.DetMCD")
export("DetMCD_CS")
export("DetMCD_RW")
export("DetMCD_SP")
export("xtractR_M")
export("quanff")
